.brand {
  padding: 66px 0px;
  // .brand__row

  &__row {
    display: flex;
  }

  // .brand__column

  &__column {
    flex: 1 1 50%;
    padding: 0px 0px 11.2% 0px;
    &:first-child {
      margin: 0px 70px 0px 0px;
    }
    &:last-child {
      position: relative;
      img {
        position: absolute;
      }
    }
  }

  // .brand__title

  &__title {
    margin: 0px 0px em(16, 48) 0px;
  }

  // .brand__text

  &__text {
    p {
      margin: 0px 0px em(16, 18) 0px;
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }
  }

  // .brand__scania

  &__scania {
    top: 0px;
    left: 0px;
  }

  // .brand__volvo

  &__volvo {
    top: 0px;
    right: 0px;
  }
  // .brand__man

  &__man {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // .brand__daf

  &__daf {
    bottom: 56px;
    left: 0px;
  }
  // .brand__renault

  &__renault {
    bottom: 0px;
    right: 0px;
  }
}
