.footer {
  background: #1a1a1a;
  // .footer__top

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 67px 0px;
  }

  // .footer__list

  &__list {
    color: #ffffff;
    li {
      margin: 0px 0px 8px 0px;
      &:first-child {
        margin: 0px 0px em(15, 20) 0px;
      }
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }

    // .footer__list_2

    &_2 {
      li {
        &:nth-child(5) {
          margin: 0px 0px 19px 0px;
        }
        &:nth-child(6) {
          margin: 0px 0px 15px 0px;
        }
      }
    }

    // .footer__list_3

    &_3 {
      font-weight: 500;
    }
  }

  // .footer__list-title
  &__list-title {
    font-size: rem(20);
    line-height: prc(24, 20);
    font-weight: 500;
  }

  // .footer__link

  &__link {
    font-size: rem(16);
    line-height: prc(19, 16);
    color: #ffffff;
  }

  // .footer__bottom

  &__bottom {
    font-size: rem(12);
    line-height: prc(24, 12);
    color: #d9dbe1;
    border-top: 0.7px solid #474747;
    padding: 18px 0px;
  }
}
