//================================FONTS=======================================
@import url(https://fonts.googleapis.com/css?family=Inter:,500,600,700);
@import '_function.scss';

body {
  font-family: Inter;
  color: #333333;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1130px;
  margin: 0px auto;
}

.main {
  flex: 1 1 auto;
}

.item {
  display: block;
  font-size: rem(14);
  line-height: prc(17, 14);
  font-weight: 500;
  color: rgba(51, 51, 51, 0.7);
}

.title {
  font-size: rem(48);
  line-height: prc(58, 48);
  font-weight: 700;
}

.text {
  font-size: rem(18);
  line-height: prc(22, 18);
  color: rgba(51, 51, 51, 0.8);
}

.input {
  display: block;
  font-size: rem(16);
  line-height: prc(19, 16);
  color: #979797;
  background: rgba(71, 98, 255, 0.08);
  border-radius: 8px;
  width: 100%;
}

.btn {
  display: block;
  font-size: rem(16);
  line-height: prc(38, 16);
  font-weight: 600;
  color: #ffffff;
  background: #4762ff;
  border-radius: 8px;
  text-align: center;
}
