// import====================================================================
@import '_function.scss';
// ====================================================================
.truck {
  background: url('../img/main.jpg') bottom right no-repeat;
  padding: 65px 0px 190px 0px;

  // .truck__body

  &__body {
    max-width: 540px;
  }

  // .truck__title

  &__title {
    font-size: rem(60);
    line-height: prc(76, 60);
    font-weight: 700;
    margin: 0px 0px em(16, 60) 0px;
  }

  // .truck__text

  &__text {
    margin: 0px 0px em(32, 18) 0px;
  }

  // .truck__btn

  &__btn {
    width: 196px;
    height: 52px;
    line-height: 50px;
  }
}
